# Python
_pycache_/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.venv/
pip-log.txt
pip-delete-this-directory.txt

# Jupyter Notebook
.ipynb_checkpoints

# Dataset and models
dataset/
*.h5
*.hdf5
*.pkl
*.joblib

# Training outputs
training_history.png
confusion_matrix.png
logs/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db